.customer__profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.customer__profile--info{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
}

.customer__logo{
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.customer__profile--info li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.customer__profile--btn{
    border-style: none;
    border-radius: 10px;
    padding: 12px;
    background-color: gray;
    color: white;
    text-align: center;
    min-width: 150px;
    text-decoration: none;
}

.customer__profile--btn:hover{
    
}

.customer__profile--divisor{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}