.appoitment__list--container{
    
}

.filter__slider{
    display: flex;
    gap: 20px;
}

.filter__slider--btn{
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 15px;
    padding: 5px;
    color: gray;
    min-width: 100px;
}

.filter__slider--btn:hover{
    color: white;
}

.filter__search{
    display: flex;
    padding: 10px;
    margin-top: 10px;
    gap: 13px;
}

.filter__search--date{
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
    min-width: 170px;
}

.filter__search--btn{
    border-style: none;
    border-radius: 10px;
    padding: 4px;
    background-color: gray;
    color: white;
    min-width: 65px;
}

.appointments__list{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.appointments__list--card{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 10px;
    height: 260px;
    width: 200px;
}


.appointments__list--card--info{
   text-align: center;
}

.appointments__list--card--info h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.appointments__list--card--info--data{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    max-height: 35px;
}

#estimated{
    color: gray;
    font-size: 12px;
    margin-top: 10px;
}

.appointments__list--card--btn{
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: gray;
    color: white;
    min-width: 150px;
    text-decoration: none;
}

.appointments__list--card--btn:hover, button:hover{
    background-color: rgb(70, 70, 70);
}

.react-multi-carousel-track li {
    width: 110px !important;
}